h5{
    font-family: 'Style Script', cursive;
}
h1{
    font-family: 'Style Script', cursive;
font-family: 'WindSong', cursive;
}
html{
    background-color: cornflowerblue;
    text-align: center;
}